h3{
   background-color: #D3D3D3;
   border-radius: 5px;
   text-align: center;
   width: 100%;
}

label{
    width: 100%;
}
.create,
.delete{
    width: 100%;
}

.timeBlock{
    border-radius: 5px;
}
